{% extends 'base.html' %}


{% block main %}
<div class="main_info_pages">
    <h1>
        Artyści
    </h1>
    <p>
        Jesteś utalentowaną osobą i chcesz się pochwalić swoimi osiągnięciami? </p>
    <p>
        Reprezentujesz zespół i chcielibyście się
        pokazać?
    </p>
    <p>
        Napisz maila na
        maciej.glinski@zhp.net.pl lub przyjdź ze swoimi pracami na dyżur biblioteczny i zobaczymy czy możemy
        wywiesić wasze prace na korytarzach Hufca i w bibliotece, oraz przygotwać inne materiały promocyjne.
    </p>
</div>

{% endblock %}
