<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for('static', filename='style.css' ) }}'>
    <title>{% block title %}Biblioteka Hufca Łódź-Górna{% endblock %}</title>
</head>

<body>
    <div class="navbar">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
        <ul>
            <li><a href='/'>Strona główna</a></li>
            <li><a href=''>Kontakt</a></li>
            <li><a href=''>inne</a></li>
            <li><a href=''>blabla</a></li>
        </ul>
    </div>
    <container>
        <div>
        <ul class="kategorie">
            <h2>Kategorie</h2>
            {% for kat in kategorie %}
            <li><a href="/kategoria/{{kat}}">{{kat.category}} ({{kat.amount}})</a></li>
            {% endfor %}
        </ul>
        <div class="info">
            <h2>Info</h2>
            <p>Jakieś informacje kontaktowe i o zamawianiu i email: <a href="">maciej.glinski@gmail.com</a></p>
        </div>
        </div>
        <div>
            <div class="searchbar">
                <form action="/search" method="POST" class="searchbar" >
                    <input type="text" placeholder="Czego szukasz?" name="search">
                    <button type="submit">Szukaj</button>
                </form>
            </div>
            {% block main %}
            <div class='center_block'>
                <div class="books">
                    {% for i in rand_books[:3] %}
                    <div>
                        <img src="{{ url_for('static', filename = 'images/book.jpg') }}" alt="book cover">
                        <a href='/book/{{i.id}}''>
                        <cite class='title'>{{ i.name }}</cite>
                        <cite class="author">{{ i.author }}</cite>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% block center_block %}
                    <div class="books">
                        {% for i in rand_books[3:] %}
                        <div>
                            <img src="{{ url_for('static', filename = 'images/book.jpg') }}" alt="book cover">
                            <p>
                            <cite class='title'>{{ i.name }}</cite>
                            <cite class="author">{{ i.author }}</cite>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                {% endblock %}
            {% endblock %}
            </div>
        </div>

    </container>
</body>
<a class="signature" href="instagram.com/cztery.damn">@Maciej Gliński</a>
</html>