{% extends 'base.html'%}

{% block main %}
<div class="book_description">
<img src="{{url_for('static', filename='images/cover.svg')}}" alt="okładka książki {{book.name}}" class="book_cover">
<ul>
    <li><cite class="book_data">Tytuł: </cite><cite class="title">{{book.title}}</cite></li>
    <li><cite class="book_data">Autor: </cite><cite class="book_param">{{book.author}}</cite></li>
    <li><cite class="book_data">Kategoria: </cite><cite class="book_param">{{book.category}}</cite></li>
    {% if book.year %}
    <li><cite class="book_data">Rok: </cite><cite class="book_param">-</cite></li>
    {% endif %}
    <li><cite class="book_data">Dostępnych: </cite><cite class="book_param">{{book.amount}}</cite></li>
    <li><cite class="book_data">id: </cite><cite class="book_param">{{book.id}}</cite></li>
    <li><form action="https://forms.office.com/e/gmRz2afVEW" target="_blank"><button type="submit" >Wypożycz</button></form></li>
</ul>
</div>

{% endblock %}