{% extends 'base.html' %}

{% block main %}
<div class="lend_div">
<h2 class="lend_title">Wypożyczasz: <cite class="title">{{book.title}}</cite> <cite class="'author">{{book.author}}</cite></h2>
<form action="/book/lendbook" method="post" class="lend_form">
    <label for="imie">Imię i nazwisko</label>
    <input type="text" name="imie">
    <label for="ewidencja">Numer ewidencji</label>
    <input type="text" name="ewidencja">
    <label for="środowisko">Drużyna/szczep</label>
    <input type="text" name="środowisko">
    <button type="submit">Prześlij</button>
</form>
</div>
{% endblock %}