{% extends 'base.html' %}


{% block main %}
<div class="text">
<div class="o_nas">
    
    
        <img src="{{url_for('static', filename='images/maciek.jpg')}}" alt="">
        <p>
            Jestem Maciej Gliński i jestem opiekunem hufcowej biblioteki.
    
        </p>
        <img src="{{url_for('static', filename='images/asia.jpg')}}" alt="">
        <p>
            Jestem Asia Pająk i jestem członkinią zespołu bibliotecznego i razem z Maćkiem opiekuję się biblioteką.
        </p>
    
    </div>
</div>

{% endblock %}