{% extends "base.html" %}
{% block main %}
<div class="main_info_pages">
    <h1>Polityka prywatności</h1>
    <li>Polityka prywatności została opublikowana 4 kwietnia 2023, jeśli zostanie zmieniona zmiany zostaną oznaczone
        datą w której zostały wprowadzone</li>
    <li>
        Zbieramy jedynie dane wprowadzane w formularzach i logi techniczne od strony serwera.
    </li>
        <li>Strona nie używa żadnych plików ciasteczek.</li>
    <li>
        Dane wprowadzone przez użytkownika w formularzach wypożyczenia i propozycji książek - jego imię i nazwisko,
        środowisko z którego pochodzi, książki które wypożyczał i daty wypożyczeń, przechowywane są fizycznie w budynku
        Hufca, a także elektronicznie w systemie Microsoft365. Dane te są konieczne do funkcjonowania biblioteki.
    </li>
    <li>
        Wypełniając formularz wypożyczenia, lub propozycji książki użytkownik zgadza się na przechowywanie jego danych
        przez bibliotekę Hufca ZHP Łódź - Górna.
    </li>
    <li>
        Polityka prywatności ZHP dostępna jest na <a href="https://zhp.pl/rodo" style="padding: 0; text-decoration: underline;">zhp.pl/rodo</a>
    </li>

    <li>
        Użytkownikowi przysługują wszystkie prawa wynikające z ogólnego rozporządzenia o danych osobowych.
    </li>
    <li>
        Zbieramy podstawowe informacje dotyczące dat wejść na stronę, dane te nie są związane z
        konkretnym użytkownikiem, ani jego urządzeniem.
    </li>
    <li>
        Właściciel serwera Vercel Inc. może przechowywać logi na temat dostępu do strony i błędów, zawierające między
        innymi
        adresy ip i informację lokalizacyjną którą można z nich wywnioskować, z dokładnością do kraju i miasta. Dane te
        wykorzystywane są przez bibliotekę i dostawcę jedynie do zapewnienia działania usług. Dane są anonimowe i nieskojarzone z
        konkretnym użytkownikiem.
        <br>
        <a href="https://vercel.com/legal/privacy-policy#customers" target="_blank"
            style="text-decoration: underline; padding: 0;">
            Więcej informacji dotyczących zbierania danych przez Vercel.
        </a>
    </li>
</div>
{% endblock %}