{% extends "base.html" %}
{% block main %}
<div class="main_info_pages">
    <h1>Polityka prywatności</h1>
    <li>Polityka prywatności została opublikowana 4 kwietnia 2023, jeśli zostanie zmieniona zmiany zostaną oznaczone
        datą w której zostały wprowadzone</li>
    <li>Nie zbieramy żadnych informacji dotyczących użytkownika, jego danych, danych na temat jego urządzenia.</li>
    <li>Jedyne dane które zbieramy to te, które użytkownik osobiście wprowadzi w formularze wypożyczenia, lub prześle
        nam na skrzynkę mailową.</li>
    <li>Zbieramy podstawowe informacje analityczne dotyczące ilości i dat wejść na stronę, dane te nie są związane z
        konkretnym użytkownikiem,
        ani jego urządzeniem.</li>
    <li>Nie używamy żadnych plików ciasteczek.</li>
    <li>Dostawca serwera Vercel.com może przechowywać informacje na temat błędów i lokalizacji komputera, dane te są
        usuwane w ciągu 30 dni, nie są przechowywane numery IP ani inne dane na temat urządzenia <br>
        <a href="https://vercel.com/legal/privacy-policy#customers" target="_blank">Więcej informacji dotyczących
            zbierania danych przez vercel.com.</a>
    </li>
</div>
{% endblock %}