{% extends "base.html" %}
{% block main %}
<div class="main_info_pages">
<h1>Polityka prywatności</h1>
<li>Polityka prywatności została opublikowana 4 kwietnia 2023, jeśli zostanie zmieniona zmiany zostaną oznaczone datą w której zostały wprowadzone</li>
<li>Nie zbieramy żadnych informacji dotyczących użytkownika, jego danych, danych na temat jego urządzenia, nie są nam potrzebne.</li>
<li>Jedyne dane które zbieramy to te, które użytkownik osobiście wprowadzi w formularze wypożyczenia, lub prześle nam na skrzynkę mailową.</li>
<li>Zbieramy podstawowe informacje analityczne dotyczące ilości i dat wejść na stronę, dane te nie są związane z konkretnym użytkownikiem,
     ani jego urządzeniem.</li>
<li>Nie używamy żadnych plików ciasteczek.</li>
<li>Dostawca serwera może przechowywać informacje na temat błędów i użytkowania strony.</li>
</div>
{% endblock %}