:root {
    --light_grey: hsl(0, 0%, 93%);
    --grey: grey;
    --dark_grey: rgb(74, 74, 74);
    --light_background: hsl(186, 63%, 97%);
    --lighter_background: #f9fcfe;
    --dark_background: #addbfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    width: 100%;
}

a {
    padding: 0.25em;
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--dark_grey);
    background-color: var(--lighter_background);
    border-radius: 1em;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 9ch;
    background: var(--dark_background);
    align-items: center;
    justify-content: center;
}

.navbar li {
    display: inline;
    overflow: hidden;
}

.navbar a {
    padding: 2em 2em;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
}

.navbar a:hover{
    border-radius: 0;
    background-color: var(--light_grey);
    color:black ;
}

.navbar img {
    padding: .25rem;
    padding-right: 1em;
    display: inline;
    height: 4em;
    width: auto;
}

container {
    max-width: 100%;
    margin-right: 2em;
    display: grid;
    grid-template-columns:
    18rem auto;

}


.searchbar {
    margin: 1em 3em;
    display: flex;
    gap: 0.2em;
    
    justify-content: center;
    align-items: normal;
}

.searchbar input {
    border: none;
    background-color: var(--light_grey);
    padding: 1em;
    flex-grow: 10;
    border-radius: 5em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
}

.searchbar button {
    border: none;
    padding: 1em 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.searchbar select {
    appearance: auto;
    border: none;
    padding: 1em 2em;
    border-radius: 0.5em;
}

.searchbar *:hover {
    outline: var(--dark_grey) 0.2em solid;
}

 
.books {
    width: 100%;
    padding: 0 5%;
    display: flex;
    margin-bottom: 1em;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center ;
}

.books div {
    width: 33%;
    padding: 2%;
}

.books div img {
    min-width: 80px;
    width: 100%;
    padding: 1em;
    height: auto;
}

.books a cite {

    width: 100%;
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.kategorie, .info {
    min-width: none;
    max-width: 38ch;
    margin: 0.5em;
    margin-top: 1em;
    padding: 1.5em 1em 1em 1.5em;
    background-color: var(--light_background);
    border-radius: 2em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info {
    white-space: normal;
}

.info p{
    overflow-wrap: break-word;
    width: 100%;
}

.kategorie {
    list-style: none;
    padding-bottom: 1em;
}

.book_list {
    width: 92%;
    margin: 2em;
    list-style: none;
    background-color: var(--light_background);
    border-radius: 2em;
    padding: 0.5em 1em;
}

.book_list h2 {
    padding: 0.75em;
}

.book_list li {
    display: flex;
    align-items: center;
    background-color: var(--lighter_background);
    margin: 0.5em 0;
    border: 0.5em, var(--light_background);
    border-radius: 0.5em;
}

.book_list li a {
    padding: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2em;

}

.book_list li a *{
    max-width: 70ch;
}


.book_list a:hover{
    outline: var(--light_grey) solid 0.2em;

}
.niema_ksiazki {
    margin: 0 4em;
}

em {
    font-style: normal;
    text-decoration: underline;
}


.title {
    color: black; 
    font-style:normal;
    font-weight: 800;
}

.author {
    color: black;
    font-style: italic;
}

.category {
    color:var(--dark_grey);
    padding-right: 0.2em;
    display: inline-block;
    width: 15% ;
    max-width: 15% ;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.book_description {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    max-height: 100%;
}

.book_description>ul {
    list-style: none;
    padding-top: 2em;
}

.book_description>ul>li {
    padding-top: 1em;
}

.book_description button {
    padding: 1em;
}

.book_cover {
    max-width: 40%;
    max-height: 100%;
    border-color: var(--dark_background);
}

.book_cover {
    font-style: italic;
    font-weight: lighter;
}

.lend_form {
    margin: 1em;
}

.lend_form > * {
    display: block;
    padding: .5em 0;
}

.lend_form button {
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 5;
}

.lend_div{
    padding: 1em;
    margin: 0 2em;
    border-radius: 0.25em;
    background: var(--light_background);
}

.arrows {
    padding-left: 1em;
    display: flex;
    align-items: center;
}

.arrows *{
    padding: 0.2em 1.5em;
}

.arrows a:hover {
    outline: var(--dark_grey) 0.1em solid;
}

.o_nas {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 3fr;
}

.o_nas img {
    width: 100%;
}

.text {
    margin-right: 15%;

    list-style: none;
    background-color: var(--light_background);
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
}
